{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "since 2020",
            "node 12"
          ]
        },
        "modules" : "cjs"
      }
    ]
  ]
}
